@{
    ViewBag.Title = "Home Page";
}

<div row>
    <div class="col-lg-12">
        <div class="superFill portrait text-center ">
            <img src="~/Content/LogoWaynetech.jpg" />
        </div>
    </div>
</div>

<div class="text-center">
    <h1>Welcome To Wayne Technologies Applied Sciences Division Basic Applications Testing System</h1>
    <h4 style="padding-top:50px">All Entries Are 100% Secure And Confidential</h4>
    <p class="text-danger">Remote Access Authorization ID:</p>
    <h2 class="text-danger">Bruce Wayne</h2>
</div>

@*<div class="w3-display-middle text-center">

    <!--Embedded video, not working properly-->

    <div class="embed-responsive embed-responsive-16by9" style="border: 1px solid white">
        <iframe class="embed-responsive-item" src="https://youtu.be/x8UiJmCN_K4"></iframe>
    </div>


</div>*@
