@{
    ViewBag.Title = "intro";
}

@*meant to be the into landing page site to give the illusion of someone hacking into the database*@


<!-- Page content -->
<img src="~/Content/hax.gif" />

<div class="text-center">
    <h3>Click Here to complete Hack</h3>
    <button> Access Granted</button>
</div>


    @*<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>*@



